body {
    background-image: url("../images/mn_skyline.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    background: rgba(50, 0, 50, 0.3);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 200px;
}

header {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showBar {
    background-color: white;
}

.mainContainer {
    background-color: white;
    min-height: 50vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin: 10px;
    overflow-y: scroll;
    display: block;
    height: 45vh;
}

thead {
    border: 2px solid black;
}

tr {
    border-bottom: .5px solid black;
    width: 250px;
}
th {
    text-align: center;
}

td {
    padding: 5px;
}

h1 {
    color: white;
}
.green {
    background-color: rgba(18, 168, 50, 0.329);
}

.yellow {
    background-color: rgba(168, 158, 18, 0.329);
}
