body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 200px;
}

header {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer {
    background-color: white;
    min-height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
}

table {
    margin: 10px;
}

